MRZCV/Service References/Fechar_sessao/ZF_PEP_FECHAR_SESSAO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:element name="ZF_PEP_FECHAR_SESSAO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HOST" type="tns:char30" />
            <xsd:element name="TIPO" type="tns:char6" />
            <xsd:element name="TRANSPORTADORA" type="tns:char3" />
            <xsd:element name="USER" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZF_PEP_FECHAR_SESSAOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DESCRICAO" type="tns:string" />
            <xsd:element name="STATUS" type="tns:char5" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZF_PEP_FECHAR_SESSAO">
    <wsdl:part name="parameters" element="tns:ZF_PEP_FECHAR_SESSAO" />
  </wsdl:message>
  <wsdl:message name="ZF_PEP_FECHAR_SESSAOResponse">
    <wsdl:part name="parameter" element="tns:ZF_PEP_FECHAR_SESSAOResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_PEP_FECHAR_SESSAO">
    <wsdl:operation name="ZF_PEP_FECHAR_SESSAO">
      <wsdl:input message="tns:ZF_PEP_FECHAR_SESSAO" />
      <wsdl:output message="tns:ZF_PEP_FECHAR_SESSAOResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_PEP_FECHAR_SESSAO" type="tns:ZWS_PEP_FECHAR_SESSAO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZF_PEP_FECHAR_SESSAO">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_PEP_FECHAR_SESSAOService">
    <wsdl:port name="ZWS_PEP_FECHAR_SESSAO" binding="tns:ZWS_PEP_FECHAR_SESSAO">
      <soap:address location="http://incmdev1.incm.int:8080/sap/bc/srt/rfc/sap/zws_pep_fechar_sessao/020/zws_pep_fechar_sessao/zws_pep_fechar_sessao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>