MRZCV/Service References/validar_user/ZWS_PEP_VALIDA_UTILIZADOR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ZCTSTRING">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZF_PEP_VALIDA_UTILIZADOR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="USER" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZF_PEP_VALIDA_UTILIZADORResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DESCRICAO" type="tns:string" />
            <xsd:element name="DESTINO" type="tns:char40" />
            <xsd:element name="LISTA" type="tns:ZCTSTRING" />
            <xsd:element name="LOTE" type="tns:char10" />
            <xsd:element name="STATUS" type="tns:char5" />
            <xsd:element name="TIPO" type="tns:char6" />
            <xsd:element name="TOTAL" type="tns:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZF_PEP_VALIDA_UTILIZADOR">
    <wsdl:part name="parameters" element="tns:ZF_PEP_VALIDA_UTILIZADOR" />
  </wsdl:message>
  <wsdl:message name="ZF_PEP_VALIDA_UTILIZADORResponse">
    <wsdl:part name="parameter" element="tns:ZF_PEP_VALIDA_UTILIZADORResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_PEP_VALIDA_UTILIZADOR">
    <wsdl:operation name="ZF_PEP_VALIDA_UTILIZADOR">
      <wsdl:input message="tns:ZF_PEP_VALIDA_UTILIZADOR" />
      <wsdl:output message="tns:ZF_PEP_VALIDA_UTILIZADORResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_PEP_VALIDA_UTILIZADOR" type="tns:ZWS_PEP_VALIDA_UTILIZADOR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZF_PEP_VALIDA_UTILIZADOR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_PEP_VALIDA_UTILIZADORService">
    <wsdl:port name="ZWS_PEP_VALIDA_UTILIZADOR" binding="tns:ZWS_PEP_VALIDA_UTILIZADOR">
      <soap:address location="http://incmdev1.incm.int:8080/sap/bc/srt/rfc/sap/zws_pep_valida_utilizador/020/zws_pep_valida_utilizador/zws_pep_valida_utilizador" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>